.progress {
    width: 100%;
    height: 5px;
}
.progress-wrap {
    background: var(--action-c);
    margin: 0;
    overflow: hidden;
    position: relative;
}
.progress-wrap .progress-bar {
    background: #212e30;
    left: 0;
    position: absolute;
    top: 0;
}
