.btn {
    /*width: 90px;*/
    min-width: 90px;
    height: 40px;
    margin: 1%;
    overflow: hidden;
    font-weight: bolder;
    border-width: 0;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: var(--primary-c);
    color: #ecf0f1;

    transition: background-color .3s;
}
.btn.action{
    background-color: var(--action-c);
    color: white;
}
.btn.orange{
    background-color: #ff7a34;
}
.btn.red{
    background-color: #ff2c44;
}
.btn.blue{
    background-color: #48beff;
}
.btn.purple{
    background-color: #c864ff;
}
.btn.yellow{
    background-color: #ffb241;
}

.btn.action:hover,.btn.action:focus{
    background-color: var(--action-c-darker);
}
.btn:hover, .btn:focus{
    background-color: var(--primary-c-darker);
}
.btn.orange:hover, .btn.orange:focus{
    background-color: #e95f38;
}
.btn.red:hover, .btn.red:focus{
    background-color: #ff2c44;
}
.btn.blue:hover, .btn.blue:focus{
    background-color: #1c8bff;
}
.btn.purple:hover, .btn.purple:focus{
    background-color: #9353c5;
}
.btn.yellow:hover, .btn.yellow:focus{
    background-color: #e0953f;
}

.btn:before {
    content: "";
    display: block;
    background-color: rgba(236, 240, 241, .3);
}


canvas {
    border: 1px solid #555;
    margin-top: 3% !important;
}
body {
    text-align: center;
    font-family: Roboto,Verdana, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 12px;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 16px;
}
p {
    padding-top: 0;
    padding-bottom: 0;
}

#info {
    background-color: #212e30;
    color: white;
}
#nSV{
    font-weight: 800;
}
a{
    color: var(--primary-c-accent);
}
.red{
    color: #FF4D5D;
}
#nSV.yellow{
    color: #ffb241;
}
.green{
    color: #5dff91;
}
#instructions {
    float: left;
    text-align: center;
    width: 100%;
}
#options {
    background-color: white;
    margin: 2%;
    padding: 2%;
    text-align: center;
    width: 92%;
    float: left;
}
#draw{
    float: left;
    width: 100%;
    text-align: center;
}
#statistics{
    background-color: white;
    margin: 2%;
    padding: 2%;
    text-align: center;
    width: 92%;
    float: left;
}

#values,#datasets,#datasets2,#kernels,#evalutation,#input,#kmeans,#distances{
    float:left;
    width: 42%;
    margin: 2%;
    padding: 2%;
}


.slider_container{
    text-align: center;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 46%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
}
.slider_container div {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: var(--primary-c);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 2%;
}
.slider_container div:hover{
    opacity: 1;
}
.ui-slider-handle{
    background: var(--action-c-darker) !important;
    border: none;
}


#statisticsTest,#statisticsTraining{
    float: left;
    width: 47%;
}
#statistics_svm{
    padding: 2%;
    width: 60%;
}
table{
    float: left;
    width: 25%;
    text-align: center;
    border-color: darkslategray;
    border-width: 1px;
    border-style: solid;
}
.stats{
    float: left;
    width: 58%;
    text-align: left;
    padding-left: 2%;
}
#tp,#tp2{
    background-color: rgba(32, 255, 59, 0.75);
}
#fp,#fp2{
    background-color: rgba(28, 95, 255, 0.75);
}
#fn,#fn2{
    background-color: rgba(255, 233, 33, 0.75);
}
#tn,#tn2{
    background-color: rgba(255, 30, 35, 0.75);
}

#formulaL{
    word-wrap: break-word;
    padding: 3%;
    width: 90%;
    font-family: "Courier New",sans-serif;
    font-size: 20px;
}

body {
    background: #e2e1e0;
    text-align: center;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    /*height: 300px;*/
    margin: 1rem;
    position: relative;
    /*width: 300px;*/
    padding-bottom: 1rem;
    padding-top: 1rem;
    /*min-height: 100px;*/
}
.nopadding{
    padding: 0;
}
.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1.blue{
    background-color: var(--primary-c-darker);
    color: white;
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tooltip {
    position: relative;
    /*display: inline-block;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    /*width: 140px;*/
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2%;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#draw_kmeans_points{
    float: left;
    margin-left: 5%;
}
/* The container */
.container {
    float: left;
    /*width: 20%;*/
    text-align: left;
    display: block;
    position: relative;
    padding: 2%;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.big{
    width: 46%;
}
.medium{
    width: 26%;
}
.small{
    width: 16%;
}

/* Hide the browser's default checkbox */
.container input {
    float: left;
    padding-left: 20px;
    text-align: left;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    margin-right: 2%;
    float: left;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2ecc71;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    /*position: absolute;*/
    /*display: none;*/
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    /*display: block;*/
}
